<!DOCTYPE html>
{% load comprobante_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>

        body {
            font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
            padding: 0;
            margin: 0;
            color: black;
        }

        table thead tr th {
            border: 1px solid black !important;
            padding: 3px;
        }

        table tbody tr td {
            border: 1px solid black;
            padding: 3px;
        }

        .logo-wrap {
            text-align: center;
            margin-bottom: 8px;
        }

        .img-logo {
            display: block;
            width: 24mm;
            max-width: 100%;
            height: auto;
            margin: 0 auto;
        }

    </style>
</head>
<body>
<div class="container-fluid">
    <div class="logo-wrap">
        <img src="{% comprobante_logo %}" class="img-logo" alt="Terrafirma">
    </div>
    <p class="text-center">
        {{ company.address }}<br>
        Ruc: {% comprobante_ruc %}
        Celular: {{ company.mobile }}<br>
        Teléfono: {{ company.phone }}<br>
        Web: {{ company.website }}<br>
    </p>
    <p>
        <b>NO. FACTURA:</b> {{ sale.id }}<br>
        <b>Cajero:</b> {{ sale.employee.get_full_name }}<br>
        <b>Cliente:</b> {{ sale.client.user.get_full_name }}<br>
        <b>Número de Dni ó cédula:</b> {{ sale.client.user.dni }}<br>
        <b>Fecha de venta:</b> {{ sale.date_joined|date:'c' }}<br>
        <b>Forma de pago:</b> {{ sale.get_payment_condition_display }}<br>
        {% if sale.payment_condition == 'contado' %}
            <b>Método de pago:</b> {{ sale.get_payment_method_display }}<br>
        {% else %}
            <b>Fecha limite de credito:</b> {{ sale.end_credit|date:'c' }}<br>
            {% if sale.credit_quota_count %}
                <b>Cuotas programadas:</b> {{ sale.credit_quota_count }}<br>
            {% endif %}
            {% if sale.credit_down_payment %}
                <b>Inicial:</b> S/ {{ sale.credit_down_payment }} ({{ sale.get_credit_down_payment_method_display }})<br>
            {% endif %}
        {% endif %}
    </p>
    <table class="table" style="width: 100%;">
        <thead>
        <tr style="border: 1px solid black;">
            <th style="width: 10%;">Cantidad</th>
            <th style="width: 45%;">Producto</th>
            <th style="width: 15%;">P.Unitario</th>
            <th style="width: 15%;">Dscto</th>
            <th style="width: 15%;" class="text-right">Subtotal</th>
        </tr>
        </thead>
        <tbody>
        {% for det in sale.saledetail_set.all %}
            <tr>
                <td class="text-center">{{ det.cant }}</td>
                <td>{{ det.product.name }}</td>
                <td class="text-center">{{ det.price|floatformat:2 }}</td>
                <td class="text-center">{{ det.total_dscto|floatformat:2 }}</td>
                <td class="text-right">{{ det.total|floatformat:2 }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="4" class="text-right"><b>Base imponible</b></td>
            <td class="text-right">{{ sale.subtotal|floatformat:2 }}</td>
        </tr>
        <tr>
            <td colspan="4" class="text-right"><b>IGV {% widthratio sale.igv 1 100 %}%</b></td>
            <td class="text-right">{{ sale.total_igv|floatformat:2 }}</td>
        </tr>
        <tr>
            <td colspan="4" class="text-right"><b>Descuento {{ sale.dscto|floatformat:2 }}%</b></td>
            <td class="text-right">{{ sale.total_dscto|floatformat:2 }}</td>
        </tr>
        <tr>
            <td colspan="4" class="text-right"><b>Total a pagar</b></td>
            <td class="text-right">{{ sale.total|floatformat:2 }}</td>
        </tr>
        <tr>
            <td colspan="5">
                {% if sale.payment_condition == 'contado' %}
                    <p class="text-uppercase text-center mb-0 pb-0">
                        ****** estimado cliente no olvide que ******
                        <br>
                        {% if sale.payment_method == 'efectivo' %}
                            Usted va a pagar en efectivo un total de {{ sale.cash }}<br>
                            Por lo tanto debe recibir un vuelto de {{ sale.change }}<br>
                        {% elif sale.payment_method == 'yape' %}
                            Usted va a pagar por Yape un total de {{ sale.total }}<br>
                        {% elif sale.payment_method == 'plin' %}
                            Usted va a pagar por Plin un total de {{ sale.total }}<br>
                        {% elif sale.payment_method == 'tarjeta_debito_credito' %}
                            Se le va a descontar de su tarjeta un monto de {{ sale.amount_debited }}<br>
                        {% elif sale.payment_method == 'efectivo_tarjeta' %}
                            Usted va a pagar en efectivo un total de {{ sale.cash }}<br>
                            Y se le va a descontar de su tarjeta un monto de {{ sale.amount_debited }}<br>
                        {% endif %}
                        Total de productos {{ sale.saledetail_set.all.count }}
                    </p>
                {% else %}
                    {% if sale.credit_down_payment %}
                        <p class="text-uppercase text-center mb-0 pb-0">
                            Pago inicial: {{ sale.get_credit_down_payment_method_display }}
                            por S/ {{ sale.credit_down_payment }}
                            {% if sale.credit_quota_count %}
                                · {{ sale.credit_quota_count }} cuota(s) sobre saldo
                            {% endif %}
                            <br>
                            Total de productos {{ sale.saledetail_set.all.count }}
                        </p>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>