<footer id="footer" class="footer dark-background">
  <div class="container">
    <h3 class="sitename">Terrafirma</h3>
    <p>Asesoría y consultoría</p>
    <div class="social-links d-flex justify-content-center">
      <a href=""><i class="bi bi-facebook"></i></a>
      <a href=""><i class="bi bi-instagram"></i></a>
      <a href=""><i class="bi bi-tiktok"></i></a>
      <a href="#"><i class="bi bi-youtube"></i></a>
    </div>
    <div class="container">
      <div class="copyright">
        <span>Copyright</span> <strong class="px-1 sitename">Desarrollado por Polariss</strong> <span>Todos los derechos reservados</span> <strong><span>El Naihtss</span></strong>
      </div>
      <div class="credits">
        Diseño <a href="https://www.facebook.com/profile.php?id=100063481211424">Polariss</a>
      </div>
    </div>
  </div>
</footer>

{% include 'marketing/partials/contact_fab.html' %}

<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>
