{% extends 'form.html' %}
{% load static %}
{% block head_form %}
    <link rel="stylesheet" href="{% static 'lib/bootstrap-touchspin-4.2.5/css/jquery.bootstrap-touchspin.css' %}"/>
    <script src="{% static 'lib/bootstrap-touchspin-4.2.5/js/jquery.bootstrap-touchspin.js' %}"></script>
    <script src="{% static 'lib/tempusdominus-bootstrap-4.5.37.0/js/tempusdominus-bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/tempusdominus-bootstrap-4.5.37.0/css/tempusdominus-bootstrap.css' %}"/>
    <script src="{% static 'frm/cash/js/form_close.js' %}"></script>
{% endblock %}

{% block buttons %}
    <button type="submit" class="btn btn-primary btn-flat">
        <i class="fas fa-lock"></i> Registrar cierre
    </button>
    <a href="{{ list_url }}" class="btn btn-danger btn-flat">
        <i class="fas fa-times"></i> Cancelar
    </a>
{% endblock %}
